body {
    margin: 0;
    background-color: aliceblue;
    font-family: sans-serif;
}

.box {
    height: 250px;
    border: 1px solid black;
    border-radius: 8px;
    background-color:palevioletred;
    /* opacity: 0.5; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0 auto; */
    font-size: 30px;
}

.list-box {
    border: 1px solid black;
    border-radius: 8px;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 140px;
    background-color: lawngreen;

}

.container {
    margin: 0 auto;
    /* max-width: 1200px; */
    background-color: aliceblue;
}

.l-header {
    display:flex;
}

.l-header-logo {
    /* width: 90px; */
}

.l-header-menu {
    display: flex;
    align-items: center;
}

.l-header-weather {
    width: 270px;
    flex: 1;
    display: none;
    align-items: center;
}

.l-header-bar {
    width: 70px;
    display: flex;
}
.tab {
    max-width: 1200px;
    margin: 0 auto;
    display: block;
}
.btn {
    display: none;
}

.smlltitle {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

.main-article {
    display: flex;
    width: 100%;
    background-color: aqua;
}

.main-article-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 2100px;
    gap: 10px;
}

.main-article-section1 {
    display: none;
}

.section-grid {
    background-color: white;
    margin: 0 auto;
    /* padding: 0px 30px; */
    max-width: 1200px;
}

.grid {
    height: 235px;
    width: 100%;
    gap: 10px;
}

.box-grid {
    display: flex;
    width: 1200px;
    gap: 10px;
}

.interview {
    display: grid;
    gap: 10px;
    background-color: white;
    margin: 15px 0px;
    padding: 0px 40px ;
}

.interview-box {
    height: 200px;
    background-color: blueviolet;
}

.interview-live {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    background-color: aliceblue;
}

@media (min-width:640px) {
    .box-grid {
        gap: 10px;
        display: flex;
        height: 235px;
    }
    .interview {
        display: grid;
        gap: 10px;
        padding: 0px 40px;
        grid-template-columns: 1fr 1fr;
        grid-row-start: 1 ;
        grid-row-end: 2;
        
    }
    .interview-live {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        background-color: white;
    }
    .l-header-weather {
        display: none;
        align-items: center;
    }
    .l-header-bar {
        display: flex;
    }
    .btn {
        display: none;
    }
}

@media (min-width:960px) {
    .container {
        max-width: 1200px;
        padding: 0 40px;
    }
    .l-header {
        gap: 20px;
        margin-bottom: 20px;
    }

    .l-header-menu {
        display: block;
        flex: 1;
        display: flex;
        gap: 10px;
        align-items: center;
    }
    .l-header-bar {
        display: none;
    }
    .l-header-weather {
        width: 270px;
        flex:none;
        display: flex;
        gap: 10px;
    }
    .tab {
        width: 100%;
        display: block;
        margin: 0 auto;
        /* padding: 0 40px; */
        background-color: black;
        height: 385px;
        overflow: hidden;
    }
    
     .btn {
        background-image:linear-gradient( 129deg,#c40097,#d6710b);
        padding: 8px 15px;
        color: white;
        font-size: 12px;
        border-radius: 10px;
        display: block;
        transition: padding 0.2s ease-in-out;
     }
     .btn:hover {
        padding: 8px 25px;
     }

     .tabs {
        display: flex;
        gap: 15px;
        /* align-items: center; */
        color: white;
        justify-content: space-between;
        position: relative;
     }

     .tab-ttlrs {
        width: 500px;
        height: 300px;
        padding-left: 40px;
     }
     .tab-text {
        width: 50%;
     }
     .tab-textr {
        color: gray;
        line-height: 20px;
        height: 60px;
        overflow: hidden;
     }
     .tab-image {
        width: 542px;
        height: 385px;
        padding-left: 15px;
        object-fit: cover;
     }
     .tabs:hover .tab-image {
        transform: scale(1.2);
     }


     .smlltitle {
        display: none;
    }

    .main-article {
        display: flex;
        max-width: 1200px;
        margin: 0 auto;
        align-items: center;
    }
   
    .main-article-section {
        max-width: 708px;
        display: flex;
    }

    .main-article-section1 {
        width: 290px;
        display: flex;
        flex-direction: column;
        padding: 0 0 0 120px;
        margin-bottom: 10px;
    }
    
    .box-grid {
        gap: 10px;
        display: flex;
    }
    
    .interview-live {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
        background-color: white;
        max-width: 1200px;
        margin: 0 auto;
    }
    .section1-box {
        width: 100%;
        background-color: rgb(68 ,22, 113);
    }
    .section2-box {
        width: 100%;
        background-color: rgb(76, 22, 22);
    }
    .section2-box-box {
        height: 120px;
        text-align: center;
    }

    .interview {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        max-width: 1200px;
        margin: 0 auto;
        padding-top: 20px;
    }

    .interview-box1 {
        height: 100%;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1 ;
        grid-row-end: 3;
    }

    .section-grid {
        background-color: aliceblue;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .grid {
        height: 235px;
        width: 100%;
        background-color: aquamarine;
    }
    .box-grid {
        display: flex;
        width: 1500px;
        gap: 20px;
    }

}
/* .flx-box {
    height: 250px;
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    background-color: aqua;
    width: 100%;
 }

 .item-box {
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    background-color: aqua;
 }

 .item-box5 {
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    background-color: aqua;
 } */
/* .flex-container {
    display:flex;
    padding: 10px;
    gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
} */

/* .tsaashuzeh {
    padding: 20px;
}

.grid-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
} */

/* .grid-lasters {
    max-width: 1200px;
    padding: 0 15px;
    display: grid; */
    /* row-gap: 10px;
    overflow: scroll;
} */

/* .grid-addres {
    display: grid;
    max-width: 1200px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px 200px;
    gap: 10px;
    padding: 15px;
}

.item-box5 {
    grid-column-start: 5;
    grid-column-end: 1;
} */

/* @media (min-width:640px) {
    .l-header {
        gap:20px;
    }
    .l-header-menu {
        display: block;
        flex: 1;
    }
    .l-header-bar {
        display: none;
    }
    .l-header-weather {
        width: 270px;
        flex: none;      
    }
} */
