body {
    margin: 0;
}

.box {
    height: 250px;
    border: 1px solid black;
    border-radius: 8px;
    background-color:palevioletred;
    /* opacity: 0.5; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0 auto; */
    font-size: 30px;
}

.list-box {
    border: 1px solid black;
    border-radius: 8px;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 140px;
    background-color: lawngreen;

}

.container {
    margin: 0 auto;
    max-width: 1200px;
    box-sizing: border-box;
    row-gap: 10px;
    background-color: aliceblue;
}

.l-header {
    display: flex;
}

.l-header-logo {
    width: 90px;
}

.l-header-menu {
    display: none;
}

.l-header-weather {
    width: 270px;
    flex: 1;
}

.l-header-bar {
    width: 70px;
}
.tab {
    max-width: 1200px;
    margin: 0 auto;
    display: block;
}

.smlltitle {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

.main-article {
    display: flex;
    width: 100%;
    background-color: aqua;
}

.main-article-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 2100px;
    gap: 10px;
}

.main-article-section1 {
    display: none;
}

/* .flx-box {
    height: 250px;
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    background-color: aqua;
    width: 100%;
 }

 .item-box {
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    background-color: aqua;
 }

 .item-box5 {
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    background-color: aqua;
 } */
/* .flex-container {
    display:flex;
    padding: 10px;
    gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
} */

/* .tsaashuzeh {
    padding: 20px;
}

.grid-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
} */

/* .grid-lasters {
    max-width: 1200px;
    padding: 0 15px;
    display: grid; */
    /* row-gap: 10px;
    overflow: scroll;
} */

/* .grid-addres {
    display: grid;
    max-width: 1200px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px 200px;
    gap: 10px;
    padding: 15px;
}

.item-box5 {
    grid-column-start: 5;
    grid-column-end: 1;
} */
@media (min-width:640px) {
    .l-header {
        gap:20px;
    }
    .l-header-menu {
        display: block;
        flex: 1;
    }
    .l-header-bar {
        display: none;
    }
    .l-header-weather {
        width: 270px;
        flex: none;      
    }
}

@media (min-width:640px) {
    .tab {
            /* display: flex; */
            margin: 0 auto;  
            /* width: 572px; */
            /* padding: 30px; */
    }
}
@media (min-width:960px) {
}