body {
    margin: 0;
}

.box {
    height: 250px;
    border: 1px solid black;
    border-radius: 8px;
    background-color:palevioletred;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 30px;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

.l-header {
    display: flex;
}

.l-header-logo {
    width: 90px;
}

.l-header-menu {
    display: none;
}

.l-header-weather {
    width: 270px;
    flex: 1;
}

.l-header-bar {
    width: 70px;
}
.tab {
    max-width: 1200px;
    margin: 0 auto;
}
.tab-item {
    justify-content: center;
    align-items: center;
}
 
.smlltitle{
    max-width: 1200px;
    display: flex;  
    margin: 0 auto;
    background-color: aqua;
    border: none;
}

.title-first {
    width: 326px;
    background-color: aqua;
}

.title-second {
    width: 326px;
    background-color: blue;
}

.title-third {
    width: 326px;
    background-color:black;
}

.grid-container {
    max-width: 1200px;
    width: 600px;
    margin: 0 auto;
    display: grid;
    padding: 10px 10px;
    grid-template-columns: 600px;
}

.medeelel {
    margin: 80px 20px
}

.medee {
    max-width: 1200px;
    margin: 0 auto;
}

.laster {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    border: 1px solid black;
    gap: 300px;
}

.laster-logo {
    width: 100px;
}
.laster-text {
    width: 800px;
    margin: 0 auto;

}

.addres {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    border: 1px solid black;
    gap: 500px;
}

.addres-text {
    width: 400px;
}

.addres-socials {
    width: 300px;
}

@media (min-width:640px) {
    .l-header {
        gap:20px;
    }
    .l-header-menu {
        display: block;
        flex: 1;
    }
    .l-header-bar {
        display: none;
    }
    .l-header-weather {
        width: 270px;
        flex: none;      
    }
}

@media (min-width:640px) {
    .tab-item {
        height: 500px;
        /* max-width: 1200px; */
        justify-content: center;
        align-items: center;
    }
}
@media (min-width:640px) {
}